/node_modules
/public/hot
public/js/*.js
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.idea/
/.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.*.swp
